@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body, html { font-family: 'Open Sans', sans-serif; }

#map {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  height:auto;
  width:auto;
  z-index:0;
}

#menu {
	height: 40px;
	width: 310px;
	position: fixed;
	top: 0px;
	right: 50%;
	margin-right: -155px;
	background-color: black;
	
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
	
	-moz-border-bottom-right-radius: 10% 5%;
	border-bottom-right-radius: 10% 5%;
	
	-moz-border-bottom-left-radius: 10% 5%;
	border-bottom-left-radius: 10% 5%;
}

#menu ul {
	list-style: none;
	padding: 6px 20px;
	margin: 0px;
}

#menu ul li {
	display: inline-block;
	
}

#menu a:hover {
	color: #3366FF;
}

#menu a {
	color: #7EADFC;
	font-weight: bold;
	text-decoration: none;
	margin-left: 70px;
	font-size: 14px;
}

#menu .titulo, #menu .proyecto {
	font-weight: bold;
	font-size: 13px;
	color: white;
}

#menu .titulo {
	margin-right: 10px;
	color: #D1A908;
}
