@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body, html { 
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('../images/white_boxes.png');
	
}

#map {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  height:auto;
  width:auto;
  z-index:0;
}


#menu {
	position:absolute;
	height: 40px;
	width: 350px;
	top: 30px;
	right: 40px;
	background-color: #112838;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#menu ul {
	list-style: none;
	padding: 6px 20px;
	margin: 0px;
}

#menu ul li {
	display: inline-block;
}

#menu a:hover {
	color: #3366FF;
}

#menu a {
	font-weight: bold;
	text-decoration: none;
	margin-left: 30px;
	font-size: 14px;
	color: #B9B9B9;
}

#menu a:hover {
	color: #FFF;
}

#menu .titulo {
	margin-right: 10px;
	color: #D1A908;
	font-size: 16px;
	border-right: 1px solid #464646;
	padding-right: 25px;
}

.stylized-menu {
	position:fixed !important;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
}

.no-map {
	height: 100%;
	width: 100%;
	background-color: #FFFABA;
}

#content {
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	background-color: white;
	margin: 30px auto 0px auto;
}

#decoration {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 2px;
	width: 100%;
	background-color: #916306;
}

#moto {
	position: fixed;
	top: 10%;
	left: 20%;
	font-weight: bold;
}

#logo {
	position: absolute;
	top: 30px;
	left: 10%;
	width: 350px;
	height: 111px;
	background-image: url('../images/logo.png');
}

#main-block {
	width: 100%;
	height: 180px;
	background-color: #0E212E;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
}

#content-block {
	width: 100%;
	height: 600px;	
}

#footer-block {
	width: 100%;
	height: 60px;
	background-color: #0E212E;
	color: white;
	font-size: 11px;
}

#footer-block ul {
	list-style: none;
	padding: 6px 20px;
	margin: 0px;
	text-align: center;
	padding-top: 20px;
}

#footer-block ul li {
	display: inline-block;
}

#footer-block ul li.apart {
	margin-right: 15px;
}

#footer-block ul li a {
	color: #EDD489;
	font-weight: bold
}
