
@main("MuéveteXCU :: Inicio")("boxed") {
	<div id="decoration"></div>
	<div id="menu">
		<ul>
			<li><a href="/about">Acerca de</a></li>
			<li><a href="/contribute">Contribuye</a></li>	
			<li><a href="/map">Mapa</a></li>					
		</ul>
	</div>
	<div id="logo"></div>
	
	<div id="main-block"></div>
	<div id="content-block"></div>
	<div id="footer-block">
		<ul>
			<li class="apart">Proyecto desarrollado en el <a href="http://www.iimas.unam.mx/" target="_blank">IIMAS</a></li>
			<li>Ciudad Universitaria, <a href="http://www.unam.mx" target="_blank">UNAM</a> 2012</li>
		</ul>
	</div>
} {

}